main {
  margin-top: 50px;
}

.input-error:focus {
  border-color: #FF0039;
  box-shadow: 0 0 0 0.2rem rgba(255,0,57,.25);
}


.input-success:focus {
  border-color: #3FB618;
  box-shadow: 0 0 0 0.2rem rgba(63,182,24, .25);
}

.profile-details {
  padding: 10px 0;
}

.card {
  margin-bottom: 10px;
}

.repo {
  margin: 0 0 30px;
}